/* установка минимальной высоты экрана*/
#root {
    min-height: 100vh;
}
.ant-layout {
    min-height: 100vh;
}

/* установка стилей для боковой панели*/
#components-layout-demo-custom-trigger .trigger {
    font-size: 18px;
    line-height: 64px;
    padding: 0 24px;
    cursor: pointer;
    transition: color 0.3s;
}

#components-layout-demo-custom-trigger .trigger:hover {
    color: #1890ff;
}

#components-layout-demo-custom-trigger .logo {
    height: 32px;
    background: rgba(255, 255, 255, 0.3);
    margin: 16px;
}

/* установка стилей для header*/
.header-component {
    padding: 0;
    height: 64px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.logo {
    height: 48px;
    margin: 8px;
    color: #fff;
    font-size: 22px;
    text-align: center;
    line-height: 48px;
}
.logo-image {
    height: 48px;
    margin-right: 8px;
    color: #fff;
    font-size: 22px;
    text-align: center;
    line-height: 48px;
}
.logo:hover {
    cursor: pointer;
}

/* установка стилей для body*/
.content-component {
    margin: 24px 16px;
    min-height: 280px;
}

.container-dto {
    width: 100%;
    margin: 0 auto;
    background-color: #ffffff;
    padding-top: 10px;
}
.container-tab {
    background-color: #ffffff;
    padding-top: 20px;
    padding-bottom: 20px;
}
.card-style {
    margin: 0 auto;
    width: 100%;
}
.card-dto {
    width: 100%;
    margin-top: 10px;
}

/* установка стилей для корректного отображения табов*/
.ant-tabs-top > .ant-tabs-nav, .ant-tabs-bottom > .ant-tabs-nav, .ant-tabs-top > div > .ant-tabs-nav, .ant-tabs-bottom > div > .ant-tabs-nav {
    margin: 0 !important;
    padding: 0 !important;
}

.ant-tabs-tab-remove {
    display: block;
}

/* единые стили для выпадающих списков*/
.ant-select:not(.ant-select-customize-input) .ant-select-selector {
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

/* единые стили для кнопок*/
.button-style {
    margin-left: 10px;
    margin-top: 10px;
    width: 9em;
}
.button-chart {
    background-color: #198754;
    border-color: #198754;
}
.button-chart:hover {
    background-color: #198754;
    border-color: #198754;
}
.button-chart:focus {
    background-color: #198754;
    border-color: #198754;
}
.button-chart::selection {
    background-color: #198754;
    border-color: #198754;
}
.button-add-equipmentProperty {
    margin-bottom: 3%
}
.button-add-select {
    width: 100%;
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    border-left: 0;
}
.ant-btn:hover, .ant-btn:focus {
    border-left: 1px solid #40a9ff;
}
.ant-btn:active {
    border-left: 1px solid #096dd9;
}

.card-dto-logDo {
    margin-top: 10px;
}

.card-dto-logDo .ant-card-body {
    padding: 10px !important;
}

/* установка стилей для дерева*/
.tree-wrapper {
    margin-top: 20px;
}
/* установка стилей для вкладок */
.form-styles {
    margin-top: 5%;
}
.tabPane-styles {
    padding-top: 3%;
}

/* установка цвета для выпадающего списка с действиями учетной записи пользователя*/
.user {
    margin-right: 48px;
}
.ant-dropdown-link {
    color: #fff;
}

/* стилизация форм авторизации*/
.login-form {
    max-width: 400px;
}
.login-form-forgot {
    float: right;
}
.ant-col-rtl .login-form-forgot {
    float: left;
}
.login-form-button {
    width: 100%;
}

/* отключении кнопки "ОК" в модальном окне "Помощи"*/
.ant-modal-footer .ant-btn-primary {
    display: none;
}

/* стили текста в подвале сайта*/
.footer_text {
    -webkit-tap-highlight-color: transparent;
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    --font-family-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    box-sizing: border-box;
    color: #6c757d!important;
    text-align: center;
}
.cursor:hover {
    cursor: pointer;
}