.wrapper_buttons {
    display: inline-flex;
    flex-wrap: wrap;
}

.button {
    width: 9em;
    margin-right: .5em;
    margin-block: .5em;
}

.short {
    width: 2em !important;
}

.last_button {
    margin-right: 0;
}

.button-skeleton {
    margin-right: .5em;
}

.not-right-margin {
    margin-right: 0;
}

.print {
    position: absolute;
    opacity: 0;
}