.bar-chart-title {
    border-bottom: 1px solid grey;
}

.title {
    font-weight: 500;
    text-align: center;
    font-size: 16px;
}

.bar-chart-title .title {
    padding-block: 5px;
    text-align: center;
}

.bar-chart {
    padding: 10px;
}