.bar-chart-title {
    border-bottom: 1px solid grey;
    padding: 0 !important;
    height: 10%;
}

.content {
    height: 90%;
}

.bar-chart-title h3 {
    margin: 0;
    text-align: center;
}

.bar-chart canvas {
    height: 200px !important;
}

.bar-chart canvas:hover {
    cursor: pointer !important;
}

.my-chart {
    padding: 10px;
}