.rating-title {
    border-bottom: 1px solid grey;
    padding: 0 !important;
    height: 10%;
}

.rating-title h3 {
    margin: 0;
    text-align: center;
}

.rating-table {
    height: 90%;
    padding: 5%;
}

.table-block {
    margin: auto 0;
}

.table {
    width: 100%;
    font-size: 16px;
}