.circle-title {
    border-bottom: 1px solid grey;
    padding: 0 !important;
}

.circle-title h3 {
    margin: 0;
    text-align: center;
    /*text-decoration: underline;*/
    /*font-weight: bold;*/
}

.circle-col {
    margin: auto 0;
}

.circle {
    margin: 0 auto;
    border-style: solid;
    border-radius: 50%;
    text-align: center;
    font-weight: bold;
}

.circle:hover {
    cursor: pointer;
}