.col-circle-1 {
    border-top: 1px solid grey;
    border-left: 1px solid grey;
    border-right: 1px solid grey;
}

.col-circle-2 {
    border-top: 1px solid grey;
    border-right: 1px solid grey;
}

.col-circle-3 {
    border-top: 1px solid grey;
}

.col-circle-1:hover, .col-circle-2:hover, .col-circle-3:hover, .col-rating-1:hover, .col-rating-2:hover {
    cursor: pointer;
}

.bar-char-border {
    border-top: 1px solid grey;
    border-left: 1px solid grey;
    border-right: 1px solid grey;
}

.row-2 {
    border-top: 1px solid grey;
}

.block-1 {
    border-left: 1px solid grey;
}

.block-2 {
    border-right: 1px solid grey;
}

.col-column-1 {
    border: 1px solid grey;
}

.col-column-2 {
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
}

.col-rating-1 {
    border: 1px solid grey;
}

.col-rating-2 {
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
    border-right: 1px solid grey;
}