.header__wrapper {
    height: 100vh;
    max-height: 100%;
}
.logo {
    height: 48px;
    width: 15%;
    margin: 8px;
    color: #fff;
    font-size: 24px;
    text-align: center;
    line-height: 48px;
}