/*стили надтабличной строки*/
.container-row-dto {
    width: 100%;
    margin-bottom: 20px;
    margin-top: 10px;
}

/* установка стилей для таблицы*/
.ant-card-body {
    padding: 20px;
}

.table-logDo table {
    font-size: 12px;
}

.table-logDo td.ant-table-cell {
    padding: 4px !important;
}

.ant-table-cell:hover {
    cursor: pointer;
}

.rdt_TableCol {
    text-align: center !important;
}

.ant-table-thead th {
    text-align: center !important;
}

/* класс, убирающий иконку сортировки*/
.card-dto-logDo .ant-table-column-sorter {
    display: none;
    position: absolute;
}

.table-logDo .ant-table-thead {
    padding-right: 0;
}

.table-logDo .ant-table.ant-table-small .ant-table-thead .ant-table-filter-column {
    margin: 0 !important;
}

.row-badges {
    margin-bottom: 20px;
}