.container {
    align-items: center;
    margin-block: 1em;
}

.item {
    margin-block: .5em;
}

.ant-card-body {
    padding: 20px;
}

.table-logDo table {
    font-size: 13px;
}

.table-logDo td.ant-table-cell {
    padding: 4px !important;
}

.ant-table-cell:hover {
    cursor: pointer;
}

.rdt_TableCol {
    text-align: center !important;
}

.ant-table-thead th {
    text-align: center !important;
}

/* класс, убирающий иконку сортировки*/
.card-dto-logDo .ant-table-column-sorter {
    display: none;
    position: absolute;
}

.table-logDo .ant-table-thead {
    padding-right: 0;
}

.table-logDo .ant-table.ant-table-small .ant-table-thead .ant-table-filter-column {
    margin: 0 !important;
}

.col-badge {
    text-align: center;
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.ant-pagination-total-text {
    flex-grow: 1;
}